.header{
    position: fixed;
    top: 0;
    z-index: 100;
}
.cart-sec{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-top: 50px ;
    /* height: 100%; */
}
.cart-page{
    /* overflow: hidden; */
    /* overflow: scroll; */
    /* background-color:red ; */
    /* min-height: 100vh; */
    height: 100%;
    /* justify-content: center;
    align-items: start; */
    padding: 50px;
    /* margin: 10px; */
    
}
.empty-cart{
    width: 100vw;
    height: 100vh;
    background-color: white;
}
.delivery-method{
    /* background-color: green; */
    display: flex;
}
.del-div{
    position: fixed;
    display: flex;
    top: 650px;
    left: 750px;
}
.del-all-button{
    border-radius: 12px;
    border: 2px solid black;
    background-color: rgb(216, 198, 34) ;
    color: white;
    font-size: 15px;
    font-weight: bold;
    width: 146px;
    height: 46px;
}
.del-all-button:hover{
    background-color: rgb(122, 101, 7);
    transition: background-color 0.2s;
}
.cart-item{
    background-color: white;
    width: 90%;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-radius: 12px;
    margin: 10px;
}
.pro-cart-about{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
}
.pro-car-img{
    padding: 15px;
    /* background-color: blue; */
    overflow: hidden;
    border-right: 2px solid rgba(72, 71, 71,0.2);
    margin: 10px;
}
.pro-car-img img{
    border-radius: 12px;
    background-color: wheat;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.cart-about-id{
    text-align: end;
    padding: 15px;
}
.cart-about-name{
    padding: 15px;
    
}
.cart-about-quantity{
    padding: 15px;
    
}
.cart-about-price{
    padding: 15px;
    display: flex;
    /* width: 100px; */
    flex-direction: row;
    justify-content:space-between;
    margin: 0;
}
.cart-about-price p , .cart-about-price button{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.npm11{
    position: relative;
    top: -10px;
    display: flex;
    column-gap: 5px;
}
.removeitem-button,.additem-button{
    background-color: blue;
    border: none;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 160%;
    padding: 15px;
    border-radius: 12px;
    font-weight: bold;
}
.removeitem-button:hover,.additem-button:hover{
    opacity: 0.8;
    cursor: pointer;
}
.delivery-method{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-left: 2px solid gray;
    padding: 0px;
    margin: 20px;
    margin-top: 100px;
    height: 600px;
    width: 35vw;
    position: fixed;
    place-self: end;
    top: 0px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 2fr 2fr;
    color: black;
    z-index: 0;
}
.delivery-method label{
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 0px;
    margin: 0;
    color: gray;
    font-size: 18px;
    border-bottom: 2px solid rgba(195, 190, 190,0.6);
}
.cart-value{
    /* background-color: lime; */
    padding: 20px;
    display: grid;
    /* border-bottom: 2px solid rgba(195, 190, 190,0.6); */
    grid-template-columns: 1fr 1fr;
}
.dilivery-charge{
    /* background-color: white; */
    padding: 20px;
    border-bottom: 2px solid rgba(195, 190, 190,0.6);
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.payable-amount{
    /* background-color: rebeccapurple; */
    border-bottom: 2px solid rgba(195, 190, 190,0.6);
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.payment-method{
    /* background-color: red; */
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.address{
    /* background-color: yellow; */
    padding: 20px;
    align-self: end;
}
select{
    padding: 10px;
    font-size: 16px;
    border :none ;
    background-color: rgb(223, 199, 24);
    width: 90%;
    height: 46px;
    font-weight: bold;
    color: white;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.place-order{
    background-color: navy;
    border: none;
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border :none ;
    width: 90%;
    height: 46px;
    font-weight: bold;
    color: white;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    
}
.place-order:hover{
    background-color: white;
    border: 2px solid navy;
    color: navy;
    transition: all 0.2s ease;
}
@media (max-width:700px) {
    .cart-sec{
        display: grid;
        grid-template-rows: 1fr 1fr;
        padding-top: 50px ;
        /* height: 100%; */
    }
    .delivery-method{
        width: 100vw;
        height: 100vh;
        background-color: yellow;
        border-radius: 12px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        border-left: 2px solid gray;
        padding: 0px;
        margin: 20px;
        margin-top: 100px;
        height: 600px;
        width: 35vw; 
        position: relative;
        place-self: center;
        top: 0px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 2fr 2fr;
        color: black;
        z-index: 0;
    }   
}